In [1]:
#Imports
import os
from google.colab import drive
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

In [2]:
#Mount and access drive
drive.mount('/content/drive',force_remount=True)
os.chdir('/content/drive/My Drive')
print("Change successful.")

Mounted at /content/drive
Change successful.

In [8]:
all_files = glob.glob("Siddha/*.xlsx")
all_files

['Siddha/kabha-nadi.xlsx',
 'Siddha/kabha-pitha.xlsx',
 'Siddha/kabha-vatha.xlsx',
 'Siddha/pithakabham.xlsx',
 'Siddha/pitham.xlsx',
 'Siddha/pithavadham.xlsx',
 'Siddha/vatha-kabham.xlsx',
 'Siddha/vatham.xlsx',
 'Siddha/vatha-pitham.xlsx']

In [9]:
all_files = glob.glob("Siddha/*.xlsx")
individual_files = []

for filename in all_files:
    df = pd.read_excel(filename)
    individual_files.append(df)

siddha_df = pd.concat(individual_files, axis=0, ignore_index=True)

In [10]:
siddha_df.head()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
0,Delirium,"Pulmonary TB, asthma",NaN,Unable to walk,Fever,kabha-nadi,NaN
1,Pair of tongue with sweet taste sensation,Bronchitis / bronchial asthma,NaN,NaN,Eczema,kabha-nadi,NaN
2,Heaviness of ears and face,Hiccup,NaN,NaN,Acute pain,kabha-nadi,NaN
3,Sweating over the head,Emesis,NaN,NaN,Inflammation,kabha-nadi,NaN
4,Lacrimation rhinorrhea,Respiration,NaN,NaN,Anaemia,kabha-nadi,NaN

In [11]:
siddha_df.describe()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
count,142,106,57,12,152,180,18
unique,128,93,53,11,135,16,18
top,Sweating over the head,Hiccup,Dysuria,Enfeebled state of arms and legs,Fever,pitham,Upper limb pain
freq,3,4,3,2,4,30,1

In [12]:
siddha_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Summit of head - suprasternal notch  142 non-null    object
 1   suprasternal notch to umbilicus      106 non-null    object
 2   Umbilicus to anus                    57 non-null     object
 3   Upper and lower Limbs                12 non-null     object
 4   Throughout the body                  152 non-null    object
 5   Label                                180 non-null    object
 6   Upper and Lower Limbs                18 non-null     object
dtypes: object(7)
memory usage: 10.0+ KB