In [36]:
#Imports
import os
from google.colab import drive
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

In [37]:
#Mount and access drive
drive.mount('/content/drive',force_remount=True)
os.chdir('/content/drive/My Drive')
print("Change successful.")

Mounted at /content/drive
Change successful.

In [38]:
all_files = glob.glob("Siddha/*.xlsx")
all_files

['Siddha/kabha-nadi.xlsx',
 'Siddha/kabha-pitha.xlsx',
 'Siddha/kabha-vatha.xlsx',
 'Siddha/pithakabham.xlsx',
 'Siddha/pitham.xlsx',
 'Siddha/pithavadham.xlsx',
 'Siddha/vatha-kabham.xlsx',
 'Siddha/vatham.xlsx',
 'Siddha/vatha-pitham.xlsx']

In [39]:
all_files = glob.glob("Siddha/*.xlsx")
individual_files = []

for filename in all_files:
    df = pd.read_excel(filename)
    individual_files.append(df)

siddha_df = pd.concat(individual_files, axis=0, ignore_index=True)

In [40]:
siddha_df.head()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
0,Delirium,"Pulmonary TB, asthma",NaN,Unable to walk,Fever,kabha-nadi,NaN
1,Pair of tongue with sweet taste sensation,Bronchitis / bronchial asthma,NaN,NaN,Eczema,kabha-nadi,NaN
2,Heaviness of ears and face,Hiccup,NaN,NaN,Acute pain,kabha-nadi,NaN
3,Sweating over the head,Emesis,NaN,NaN,Inflammation,kabha-nadi,NaN
4,Lacrimation rhinorrhea,Respiration,NaN,NaN,Anaemia,kabha-nadi,NaN

In [41]:
siddha_df.describe()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
count,142,106,57,12,152,180,18
unique,128,93,53,11,135,9,18
top,Sweating over the head,Hiccup,Dysuria,Enfeebled state of arms and legs,Fever,pitham,Upper limb pain
freq,3,4,3,2,4,30,1

In [42]:
siddha_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Summit of head - suprasternal notch  142 non-null    object
 1   suprasternal notch to umbilicus      106 non-null    object
 2   Umbilicus to anus                    57 non-null     object
 3   Upper and lower Limbs                12 non-null     object
 4   Throughout the body                  152 non-null    object
 5   Label                                180 non-null    object
 6   Upper and Lower Limbs                18 non-null     object
dtypes: object(7)
memory usage: 10.0+ KB

In [43]:
siddha_df['Label'].unique()

array(['kabha-nadi', 'kabha-pitha', 'kabha-vatha', 'pithakabham',
       'pitham', 'pithavadham', 'vatha-kabham', 'vatham', 'vatha-pitham'],
      dtype=object)

In [44]:
#Remove the incorrect labels manually and load the dataset again
all_files = glob.glob("Siddha/*.xlsx")
individual_files = []

for filename in all_files:
    df = pd.read_excel(filename)
    individual_files.append(df)

siddha_df = pd.concat(individual_files, axis=0, ignore_index=True)

In [45]:
siddha_df.head()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
0,Delirium,"Pulmonary TB, asthma",NaN,Unable to walk,Fever,kabha-nadi,NaN
1,Pair of tongue with sweet taste sensation,Bronchitis / bronchial asthma,NaN,NaN,Eczema,kabha-nadi,NaN
2,Heaviness of ears and face,Hiccup,NaN,NaN,Acute pain,kabha-nadi,NaN
3,Sweating over the head,Emesis,NaN,NaN,Inflammation,kabha-nadi,NaN
4,Lacrimation rhinorrhea,Respiration,NaN,NaN,Anaemia,kabha-nadi,NaN

In [46]:
siddha_df.describe()

,Summit of head - suprasternal notch,suprasternal notch to umbilicus,Umbilicus to anus,Upper and lower Limbs,Throughout the body,Label,Upper and Lower Limbs
count,142,106,57,12,152,180,18
unique,128,93,53,11,135,9,18
top,Sweating over the head,Hiccup,Dysuria,Enfeebled state of arms and legs,Fever,pitham,Upper limb pain
freq,3,4,3,2,4,30,1

In [47]:
#Check if erroneous labels have been removed
siddha_df['Label'].unique()

array(['kabha-nadi', 'kabha-pitha', 'kabha-vatha', 'pithakabham',
       'pitham', 'pithavadham', 'vatha-kabham', 'vatham', 'vatha-pitham'],
      dtype=object)

In [48]:
siddha_df['Upper and Lower Limbs'].describe()

count                   18
unique                  18
top        Upper limb pain
freq                     1
Name: Upper and Lower Limbs, dtype: object

In [49]:
siddha_df['Upper and lower Limbs'].describe()

count                                   12
unique                                  11
top       Enfeebled state of arms and legs
freq                                     2
Name: Upper and lower Limbs, dtype: object

In [50]:
#resolve the column name issue manually and reload the dataframe
all_files = glob.glob("Siddha/*.xlsx")
individual_files = []

for filename in all_files:
    df = pd.read_excel(filename)
    individual_files.append(df)

siddha_df = pd.concat(individual_files, axis=0, ignore_index=True)

In [51]:
siddha_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Summit of head - suprasternal notch  142 non-null    object
 1   suprasternal notch to umbilicus      106 non-null    object
 2   Umbilicus to anus                    57 non-null     object
 3   Upper and Lower Limbs                30 non-null     object
 4   Throughout the body                  152 non-null    object
 5   Label                                180 non-null    object
dtypes: object(6)
memory usage: 8.6+ KB

In [60]:
#Convert each column into a dataframe
siddha_head = pd.DataFrame().assign(head = siddha_df['Summit of head - suprasternal notch'], label = siddha_df['Label'])
siddha_suprasternal = pd.DataFrame().assign(suprasternal = siddha_df['suprasternal notch to umbilicus'], label = siddha_df['Label'])
siddha_umbilicus = pd.DataFrame().assign(umbilicus = siddha_df['Umbilicus to anus'], label = siddha_df['Label'])
siddha_limbs = pd.DataFrame().assign(limbs = siddha_df['Upper and Lower Limbs'], label = siddha_df['Label'])
siddha_whole = pd.DataFrame().assign(whole = siddha_df['Summit of head - suprasternal notch'], label = siddha_df['Label'])

In [66]:
def print_details(df):
  print(df.describe())
  print("")
  print("Details of columns with null values:")
  print(df.isna().sum())
  print("")
  print(f"Number of duplicated rows: {df.duplicated().sum()}")

In [67]:
print_details(siddha_head)

                           head   label
count                       142     180
unique                      128       9
top      Sweating over the head  pitham
freq                          3      30

Details of columns with null values:
head     38
label     0
dtype: int64

Number of duplicated rows: 34

In [68]:
siddha_head = siddha_head.dropna()
print_details(siddha_head)

                           head   label
count                       142     142
unique                      128       9
top      Sweating over the head  pitham
freq                          3      30

Details of columns with null values:
head     0
label    0
dtype: int64

Number of duplicated rows: 1

In [69]:
print_details(siddha_suprasternal)

       suprasternal   label
count           106     180
unique           93       9
top          Hiccup  pitham
freq              4      30

Details of columns with null values:
suprasternal    74
label            0
dtype: int64

Number of duplicated rows: 69

In [70]:
siddha_suprasternal = siddha_suprasternal.dropna()
print_details(siddha_suprasternal)

       suprasternal       label
count           106         106
unique           93           9
top          Hiccup  kabha-nadi
freq              4          17

Details of columns with null values:
suprasternal    0
label           0
dtype: int64

Number of duplicated rows: 3

In [71]:
siddha_umbilicus = siddha_umbilicus.dropna()
print_details(siddha_umbilicus)

       umbilicus   label
count         57      57
unique        53       7
top      Dysuria  vatham
freq           3      22

Details of columns with null values:
umbilicus    0
label        0
dtype: int64

Number of duplicated rows: 1

In [72]:
siddha_limbs = siddha_limbs.dropna()
print_details(siddha_limbs)

                                   limbs         label
count                                 30            30
unique                                29             9
top     Enfeebled state of arms and legs  vatha-pitham
freq                                   2             9

Details of columns with null values:
limbs    0
label    0
dtype: int64

Number of duplicated rows: 0

In [73]:
siddha_whole = siddha_whole.dropna()
print_details(siddha_whole)

                          whole   label
count                       142     142
unique                      128       9
top      Sweating over the head  pitham
freq                          3      30

Details of columns with null values:
whole    0
label    0
dtype: int64

Number of duplicated rows: 1